@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background-color: #0a0a0d;
  --text-color: #ffffff;
  --border-color: rgba(82, 82, 82, 0.2);
  --item-background-color: rgba(28, 22, 27, .4);

  --font-family: "Inter-Medium", "Inter", sans-serif;
  --font-weight: 500;
  --letter-spacing: -0.18px;
  --line-height: 22px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background-color);
}

.navigation-bar {
  color: var(--text-color);
  backdrop-filter: blur(12px);
  background-color: var(--item-background-color);
  border: 1px solid var(--border-color);
  padding: 16px;
  margin-top: 40px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  font-family: var(--font-family);
  font-weight: var(--font-weight);
  letter-spacing: var(--letter-spacing);
  line-height: var(--line-height);
}

.navigation-bar li {
  display: inline-block;
  margin-right: 20px;
}
