/* Tailwind base, components, and utilities imports */
@tailwind base;
@tailwind components;
@tailwind utilities;

/*
  CSS Custom Properties (Variables)
  These variables define the color palette, typography, and layout settings
  for consistent theming across the application.
*/
:root {
  --background-color: #0a0a0d;              /* Main background color */
  --text-color: #ffffff;                    /* Primary text color */
  --text-secondary-color: rgba(255, 255, 255, 0.6); /* Secondary text color */
  --border-color: rgba(82, 82, 82, 0.2);    /* Border color for UI elements */
  --item-background-color: rgba(114, 120, 136, .16); /* Card/item background */

  --font-family: "Inter-Medium", "Inter", sans-serif; /* Main font family */
  --font-weight: 500;                       /* Default font weight */
  --letter-spacing: -0.18px;                /* Default letter spacing */
  --line-height: 22px;                      /* Default line height */
}

/* Reset default margin and padding for all elements */
* {
  margin: 0;
  padding: 0;
}

/* Set body background color */
body {
  background-color: var(--background-color);
}

/* Add spacing between sections */
section {
  margin-bottom: 60px;
}

/*
  Navigation Bar Styling
  Styles for the main navigation bar, including layout, color, and spacing.
*/
.navigation-bar {
  color: var(--text-color);
  backdrop-filter: blur(12px);
  background-color: var(--item-background-color);
  border: 1px solid var(--border-color);
  padding: 5px 16px 5px 16px;
  margin-top: 40px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  font-family: var(--font-family);
  font-weight: var(--font-weight);
  letter-spacing: var(--letter-spacing);
  line-height: var(--line-height);
}

.navigation-bar li {
  display: inline-block;
}

.profile-description {
  font-family: var(--font-family);
  font-weight: 400;
  letter-spacing: -.34px;
  line-height: 29px;
  color: var(--text-color);
  font-size: 20px;
  margin-top: 20px;
}

.profile-build {
  font-family: var(--font-family);
  font-weight: 500;
  letter-spacing: -.34px;
  line-height: 29px;
  color: var(--text-color);
  font-size: 20px;
  margin-top: 20px;
  color: var(--text-secondary-color);
}

.gradient-text {
  background: linear-gradient(90deg, #ff0080, #7928ca);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
}

.section-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}

.section-title h2, .section-title h3 {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 600;
  letter-spacing: 3px;
  line-height: 1.2em;
  color: var(--text-secondary-color);
  font-size: 14px;
  text-transform: uppercase;
}

.section-title a {
  font-family: var(--font-family);
  background: linear-gradient(90deg, #ff0080, #7928ca);
  font-weight: 500;
  line-height: 29px;
  font-size: 14px;
  letter-spacing: var(--letter-spacing);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.skill-item {
  display: flex;
  align-items: center;
  text-align: right;
  padding: 10px;
  border-radius: 10px;
  backdrop-filter: blur(12px);
  background-color: var(--item-background-color);
  border: 1px solid var(--border-color);
  transition: background-color 0.3s ease;
}

.skill-item img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.skill-name {
  color: white;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 15px;
}

.project-item {
  border-radius: 10px;
  padding: 10px;
  transition: background-color 0.3s ease;
}

.project-item:hover {
  background-color: var(--item-background-color);
  border: 1px solid var(--border-color);
  cursor: pointer;
}

.project-item img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.image-wrapper {
  position: relative;
  width: 100%;
}

.project-tag {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: rgb(21, 44, 251);
  color: white;
  padding: 0px 10px;
  border-radius: 50px;
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 10px;
  line-height: var(--line-height);
  text-transform: uppercase;
}

.project-title {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: var(--text-color);
}

.project-description {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: var(--text-secondary-color);
  margin-top: 5px;
}

.contact {
  padding: 20px;
  background-color: var(--item-background-color);
  border: 1px solid var(--border-color);
  border-radius: 10px;
}

.contact-wrapper {
  display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: center;
  text-align: left;
}

.contact-info {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-top: 20px;
  color: white;
}

.contact-info h2 {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 40px;
  line-height: 29px;
  color: var(--text-color);
  background: linear-gradient(90deg, #ff0080, #7928ca);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 10px 0px 20px 0px;
}

.contact-info p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 22px;
  color: var(--text-secondary-color);
}

.contact-actions div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.contact-actions div a {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 22px;
  color: white;
}

.page-heading {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 50px;
}

.page-heading h1 {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 25px;
  line-height: 29px;
  color: var(--text-color);
  background: linear-gradient(90deg, #ff0080, #7928ca);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 10px 0px 10px 0px;
}

.page-heading p {
  font-family: var(--font-family);
  font-weight: 400;
  font-style: normal;

  font-size: 18px;
  line-height: 140%;
  color: white;
  text-align: center;
  padding: 0px 50px 0px 50px;
}

.page-heading .divider {
  width: 300px;
  margin: 0 auto;
  height: 2px;
  margin-top: 20px;
}

.project-categories {
  align-items: center;
  justify-content: center;
  margin: 20px 0px 40px 0px;
}

.project-categories button {
  padding: 5px 10px;
  margin: 0px 5px;
  border: none;
  border-radius: 5px;
  color: white;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}

.project-categories .active {
  background-color: var(--item-background-color);
}

.footer-content {
  padding: 100px;
}

.footer-content p {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: rgba(114, 120, 136, .6);
}

.footer-items {
  font-family: var(--font-family);
  font-size: 12px;
  line-height: 22px;
  color: rgba(114, 120, 136, .6);
}

.about-title {
  padding: 0px 0px 40px 0px;
}

.about-title h4 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 3px;
  line-height: 22px;
  color: rgba(114, 120, 136, .6);
  text-align: center;
}

.about-item {
  margin-bottom: 40px;
}

.about-item h5 {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 3px;
  line-height: 22px;
  color: rgba(74, 87, 111, 0.7);
  margin-bottom: 10px;
  text-transform: uppercase;
}

.about-item p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: white;
}

.about-image-shadow {
  position: relative;
  display: inline-block;
}

.about-image {
  display: block;
  width: 140px;
  height: auto;
  border-radius: 50%;
  /* Optional */
  position: relative;
  z-index: 1;
}

/* Bottom glow */
.about-image-shadow::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 135px;
  height: 128px;
  aspect-ratio: 0.875 / 1;
  background-color: rgba(247, 110, 110, 0.41);
  filter: blur(17px);
  border-radius: 80px;
  z-index: 0;
}


.about-love {
  width: 127px;
  margin-top: 15px;
}

.book-items {
  position: relative;
  cursor: default;
  padding: 16px;
  margin: 0;
  display: grid;
  break-inside: avoid;
}

.main-book-wrap {
  position: relative;
}

.book-cover {
  position: relative;
}

.book-cover .book-inside {
  position: absolute;
  width: 90%;
  height: 96%;
  top: 1%;
  left: 16px;
  border: 1px solid grey;
  border-radius: 2px 6px 6px 2px;
  background: white;
  box-shadow: 10px 40px 40px -10px #00000030, inset -2px 0 0 grey,
    inset -3px 0 0 #dbdbdb, inset -4px 0 0 white, inset -5px 0 0 #dbdbdb,
    inset -6px 0 0 white, inset -7px 0 0 #dbdbdb, inset -8px 0 0 white,
    inset -9px 0 0 #dbdbdb;
}

.book-cover .book-image {
  line-height: 0;
  position: relative;
  border-radius: 2px 6px 6px 2px;
  box-shadow: 6px 6px 18px -2px rgba(0, 0, 0, 0.2),
    24px 28px 40px -6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  transform: perspective(2000px) rotateY(-15deg) translateX(-10px) scaleX(0.94);
  cursor: pointer;
}

.book-image img {
  grid-row: 1 / -1;
  grid-column: 1;
  width: 100%;
  border-radius: 2px 6px 6px 2px;
}

.book-image:hover {
  transform: perspective(2000px) rotateY(0deg) translateX(0px) scaleX(1);
  transform-style: preserve-3d;
  box-shadow: 6px 6px 12px -1px rgba(0, 0, 0, 0.1),
    20px 14px 16px -6px rgba(0, 0, 0, 0.1);
}

.effect {
  position: absolute;
  width: 20px;
  height: 100%;
  margin-left: 16px;
  top: 0;
  border-left: 2px solid #00000010;
  background-image: linear-gradient(90deg,
      rgba(255, 255, 255, 0.2) 0%,
      rgba(255, 255, 255, 0) 100%);
  transition: all 0.5s ease;
  z-index: 5;
}

.light {
  width: 90%;
  height: 100%;
  position: absolute;
  border-radius: 3px;
  background-image: linear-gradient(90deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.2) 100%);
  top: 0;
  right: 0;
  opacity: 0.1;
  transition: all 0.5s ease;
  z-index: 4;
}

.book-image:hover .effect {
  margin-left: 14px;
}

.project-image img {
  width: 100%;
  height: 450px;
  object-fit: cover;
  border-radius: 30px;
}

.project-content p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: white;
}

.blog-item {
  color: white;
}

.blog-item h2 {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 22px;
  color: white;
}

.blog-item .tags span {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 12px;
  line-height: 22px;
  color: #ff0080;
  padding-top: 3px;
  padding-bottom: 3px;
  text-transform: uppercase;

}

.blog-item .date {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: white;
}

.blog-item p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: white;
}
.blog-divider {
  margin-top: 20px;
  margin-bottom: 20px;
  border-top: 1px solid var(--border-color);
}

@media (max-width: 639px) {
  .project-image {
    width: 100px !important;
    height: 100px !important;
    margin: 0 !important;
  }

  .image-wrapper {
    width: 150px !important;
    object-fit: cover;
  }

  .project-item {
    border-radius: 15px;
  }

  .contact-wrapper {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    text-align: left;
  }
}