@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background-color: #0a0a0d;
  --text-color: #ffffff;
  --text-secondary-color: rgba(255, 255, 255, 0.6);
  --border-color: rgba(82, 82, 82, 0.2);
  --item-background-color: rgba(114, 120, 136, .6);

  --font-family: "Inter-Medium", "Inter", sans-serif;
  --font-weight: 500;
  --letter-spacing: -0.18px;
  --line-height: 22px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background-color);
}

.navigation-bar {
  color: var(--text-color);
  backdrop-filter: blur(12px);
  background-color: var(--item-background-color);
  border: 1px solid var(--border-color);
  padding: 16px;
  margin-top: 40px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  font-family: var(--font-family);
  font-weight: var(--font-weight);
  letter-spacing: var(--letter-spacing);
  line-height: var(--line-height);
}

.navigation-bar li {
  display: inline-block;
  margin-right: 20px;
}

.profile-description {
  font-family: var(--font-family);
  font-weight: 400;
  letter-spacing: -.34px;
  line-height: 29px;
  color: var(--text-color);
  font-size: 20px;
  margin-top: 20px;
}

.profile-build {
  font-family: var(--font-family);
  font-weight: 500;
  letter-spacing: -.34px;
  line-height: 29px;
  color: var(--text-color);
  font-size: 20px;
  margin-top: 20px;
  color: var(--item-background-color);
}

.gradient-text {
  background: linear-gradient(90deg, #ff0080, #7928ca);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
}